:root {
    --azul-claro: #6DDAD3;
    --azul-escuro: #132235;
    --branco: #ffffff;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* --------------------- cabeçalho - header ----------------- */

header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: var(--azul-escuro);
    padding: 25px 160px;
}

.cabecalho__nav-bar {
    display: flex;
    gap: 50px;
    color: var(--branco);
}

.componente__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}


/* animações itens */

.bolinha__indicadora {
    background: var(--azul-claro);
    border-radius: 50px;
    width: 12px;
    height: 12px;
}


/* ------------------------------------ */

.logo__cabecalho {
    height: 60px;
}


/* --------------------------------------------------------------- */


/* ------------------ section - inicio ---------------- */

.inicio {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: var(--azul-escuro);
    padding: 165px 160px;
}

.imagem__inicio {
    width: 100%;
}

.texto__inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    color: var(--branco);
}

.cor__nome {
    color: var(--azul-claro);
}

.p__inicio {
    font-size: 16px;
    margin-top: 20px;
}


/* ------------------------------------------------------------ */


/* -------------------- section - quem somos ------------------- */

.quem-somos h2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 160px;
    font-size: 40px;
    font-weight: bold;
    color: var(--azul-escuro);
}

.principal__quem-somos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    vertical-align: top;
    margin-top: 50px;
}

.texto__quem-somos {
    display: flex;
    text-align: justify;
    line-height: 24px;
    max-width: 300px;
    flex-direction: column;
    font-size: 16px;
    color: var(--azul-escuro);
    gap: 1.875rem;
}

.imagem__quem-somos {
    height: 300px;
}


/* ------------------------------------------------------------- */


/* -------------------- section - serviços ------------- */

.servicos h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    font-size: 40px;
    font-weight: bold;
    color: var(--azul-escuro);
}

.principal__servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 23rem;
    padding: 150px 0px;
}

.texto__servicos {
    display: flex;
    margin-top: 25px;
    text-align: center;
    max-width: 94px;
}


/* -------------------------------------------------------- */


/* ------------------------- section - contato ----------------- */

.contato {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 160px;
    background: var(--azul-escuro);
}

.titulo__contato {
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
}

.principal__contato {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
}


form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.formulario__contato {
    display: flex;
    width: 50%;
    flex-direction: column;
    color: var(--branco);
}

label {
    margin-top: 30px;
    color: var(--branco);
}

textarea,
input {
    margin-top: 5px;
    border-radius: 8px;
    background: none;
    border: 1px solid var(--branco);
    padding: 15px;
}

.botao__enviar {
    background: var(--azul-claro);
    padding: 8px;
    font-weight: bold;
    color: var(--azul-escuro);
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    width: 50%;
}

textarea:focus,
input:focus {
    border: 3px solid var(--azul-claro);
    border-radius: 5px;
    outline: 0;
}

textarea::placeholder,
input::placeholder {
    color: #24436a;
}

.formulario__contato span.error{
    display: flex;
    padding: 0px;

    background-color: rgba(255, 0, 0, 0.2);
}

.formulario__contato span.error.active{
    border: 1px solid red;
    padding: 0.4rem;
}

.imagem__contato {
    width: 35%;
}

.logo__rodape {
    height: 40px;
}


/* -------------------------------------------------*/


/* --------------------- footer -------------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--azul-escuro);
    color: var(--branco);
    font-size: 16px;
    padding: 0px 160px;
}

.icones__rodape {
    display: flex;
    gap: 4rem;
}


/* ---------------------------------------------- */


/* -------------------------------------------------------- */


/* ============= Indicador - bolinha - inicio =========  */

.componente__menu a {
    color: var(--azul-claro);
}

.componente__menu a:not(.ind_inicio) {
    color: #FFFFFF80;
}

.componente__menu div {
    background: var(--azul-claro);
}

.componente__menu div:not(.bolinha__inicio) {
    display: none;
}


/* ------------------------------------------- */


/* ============= Indicador - bolinha - quem somos =========  */

.cabecalho__nav-bar.indica_quem-somos .componente__menu a {
    color: var(--azul-claro);
}

.cabecalho__nav-bar.indica_quem-somos .componente__menu a:not(.ind_quem-somos) {
    color: #FFFFFF80;
}

.cabecalho__nav-bar.indica_quem-somos .componente__menu div {
    display: flex;
    background: var(--azul-claro);
}

.cabecalho__nav-bar.indica_quem-somos .componente__menu div:not(.bolinha__quem-somos) {
    display: none;
}


/* ============= Indicador - bolinha - serviços =========  */

.cabecalho__nav-bar.indica_servicos .componente__menu a {
    color: var(--azul-claro);
}

.cabecalho__nav-bar.indica_servicos .componente__menu a:not(.ind_servicos) {
    color: #FFFFFF80;
}

.cabecalho__nav-bar.indica_servicos .componente__menu div {
    display: flex;
    background: var(--azul-claro);
}

.cabecalho__nav-bar.indica_servicos .componente__menu div:not(.bolinha__servicos) {
    display: none;
}



/* ============= Indicador - bolinha - contato =========  */

.cabecalho__nav-bar.indica_contato .componente__menu a {
    color: var(--azul-claro);
}

.cabecalho__nav-bar.indica_contato .componente__menu a:not(.ind_contato) {
    color: #FFFFFF80;
}

.cabecalho__nav-bar.indica_contato .componente__menu div {
    display: flex;
    background: var(--azul-claro);
}

.cabecalho__nav-bar.indica_contato .componente__menu div:not(.bolinha__contato) {
    display: none;
}


/* ----------------- VERSÃO MOBILE ---------------*/

@media screen and (max-width: 900px) {
    /* ============== cabecalho =================  */
    header {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px;
    }
    .cabecalho__nav-bar {
        display: flex;
        gap: 40px;
        margin-top: 20px;
    }
    .componente__menu {
        font-size: 16px;
    }
    
    /* =================================================== */
    /* =============== section - inicio Mobile =========== */

    .inicio {
        display: flex;
        background: var(--azul-escuro);
        justify-content: center;
        padding: 190px 30px;
    }
    .imagem__inicio {
        display: none;
    }
    .texto__inicio {
        font-size: 32px;
    }
    .p__inicio {
        font-size: 10px;
    }
    /* =========================================== */
    /* ======= section - quem somos mobile ======== */
    .quem-somos h2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding: 30px 0px;
    }
    .principal__quem-somos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagem__quem-somos {
        margin-top: 50px;
    }
    /* =========================================== */
    .principal__servicos {
        display: flex;
        flex-direction: column;
    }
    /* ================================================= */
    /* ============= section - servicos - mobile ======= */
    .servicos {
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
    }
    .principal__servicos {
        display: flex;
        gap: 80px;
    }
    /* =============================================== */
    .contato {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .formulario__contato {
        display: flex;
        width: 100%;
        margin-bottom: 30px;
    }
    .imagem__contato {
        display: none;
    }
    .botao__enviar{
        width: 100%;
    }
    textarea,
    input {
        margin-top: 10px;
    }

    
    footer {
        display: flex;
        width: 100%;
        padding: 0px;
        font-size: 8px;
    }
    .icones__rodape {
        display: flex;
        gap: 10px;
    }
}